{% extends 'main.html' %}

{% block body %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <a href="{% url 'home'%}">All</a><br>
        {%for topics in topics %}
           <a href="{% url 'home'%}?q={{topics.name}}">{{ topics.name }}</a>
           <br>
        {% endfor %}
    </div>
        <div>
            <h5>{{ room_count }} rooms available</h5>
            <a href="{% url 'create-room'  %}">create room</a><br><br>
            <div>
                {% for room in rooms %}
            
                
                {% if request.user != room.host %}

                {% else %}

                <a href="{% url 'update-room' room.id %}">EDIT</a>
                <a href="{% url 'delete-room' room.id %}">DELETE</a>
                {% endif %}


                <span>@{{ room.host.username }}</span>
                <h5>{{ room.id}}-- <a href="{% url 'room' room.id %}"> {{ room.name }}</a></h5>
                <small>{{ room.topic.name}}</small>
                <hr>
                {% endfor %}

            </div>

            
        </div>
    </div>

</div>
{% endblock %}